header{

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    background-color:aliceblue;
}
main{

    margin-top: 200px;
    display: flex;

}
body{

    background-color:aliceblue;
}
